* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-image: linear-gradient(to bottom,
            #009688 0vh,
            #009688 15vh,
            #dddbd1 15vh,
            #d2dbdc 100%);
    width: 100%;
    height: 100vh;
    font-family: "lato", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 100%;
}

#sfondo-azzurro {
    background-color: #8edafc;
}

.container {
    width: 80%;
    height: 95%;
    min-width: 900px;
    background-color: cadetblue;
}

.container-destro {
    width: 65%;
    height: 100%;
    background-color: antiquewhite;
}

.container-sinistro {
    width: 35%;
    height: 100%;
    background-color: aliceblue;
}

.float-destro {
    float: right;
}

.float-sinistro {
    float: left;
}

.contenitore-avatar {
    display: flex;
    align-items: center;
}

.contenitore-icone {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

i {
    color: #b1b1b1;
}

.fa-bell-slash {
    color: #8edafc;
}

#contenitore-tondo {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-content: center;
}

.avatar {
    border-radius: 50%;
    height: 40px;
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.strip {
    width: 100%;
    height: 60px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.strip-bianco {
    background-color: white;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.strip-ricerca {
    width: 100%;
    height: 40px;
    background-color: #eaeaea;
}

.barra-ricerca {
    height: 80%;
    width: 95%;
    border: none;
}

.chat-centrale {
    overflow-y: scroll;
    width: 100%;
    padding-top: 2rem;
    height: calc(100% - 120px);
    background-image: url(../img/mine.jpg);
}

.colonna-chat {
    width: 80%;
    margin: 0 auto;
    display: flex;
    
}

.allineato-destra {
    justify-content: flex-end;
}

.messaggio {
    width: 50%;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.received {
    background-color: white;

}

.sent {
    background-color: #d5f9ba;

}

