<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Boolzapp</title>
</head>


<body>

    
        <div id="root" class="container clearfix">
            <div class="container-destro float-destro">
                <div class="chat-attiva">
                    <div class="strip">

                        <div class="contenitore-avatar ">
                            <img class="avatar" src="img\avatar_io.jpg" alt="">
                            <span>Sofia</span>
                        </div>

                        <div class="contenitore-icone ">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>

                </div>
                <div class="chat-centrale">
                    <div class="colonna-chat" v-for="(element,index) in contacts">
                        <div class="messaggio" :class="element.messages.status">
                            <span>{{element.messages.message}}</span>
                        </div>


                    </div>


                </div>
                <div class="input-testo-chat">
                    <div class="strip">

                        <div class="contenitore-avatar ">
                            <img class="avatar" src="img\avatar_io.jpg" alt="">
                            <span>Sofia</span>
                        </div>

                        <div class="contenitore-icone ">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>

                </div>

            </div>
            <div class="container-sinistro">

                <div class="strip">

                    <div class="contenitore-avatar ">
                        <img class="avatar" src="img\avatar_io.jpg" alt="">
                        <span>Sofia</span>
                    </div>

                    <div class="contenitore-icone ">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <div class="strip" id="sfondo-azzurro">
                    <div id="contenitore-tondo">
                        <i class="fas fa-bell-slash"></i>
                    </div>

                </div>
                <div class="strip-ricerca">
                    <label for="search"><i class="fa fa-search"></i></label>
                    <input class="barra-ricerca" type="text" placeholder="Cerca o inizia una nuova chat">

                </div>
                <div class="contenitore-contatti">
                    <div class="strip-bianco" v-for="(element,index) in contacts">
                        <div class="contenitore-avatar ">
                            <img class="avatar" :src="'img/avatar'+ element.avatar +'.jpg'" alt="">
                            <span>{{ element.name }}</span>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    

    <script src="data.js"></script>
</body>

</html>